---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Card/>
	</main>
</Layout>
<style>
	main {
		background-color: white;
		width: auto;
		min-height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
</style>